[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pudb = "*"
pytest = "*"
isort = {extras = ["pipfile"],version = "*"}
ipython = "*"

[packages]
sqlalchemy = "*"

[requires]
python_version = "3.7"
